html {
	cursor: url(imagens/mata_mosquito.png) 30 30, auto;
}

body {
	height: 100%;
	background-image: url(imagens/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
}

.mosquito1 {
	max-width: 5%;
	max-width: 7%;
}

.mosquito2 {
	max-width: 7%;
	max-height: 9%;
}

.mosquito3 {
	max-width: 9%;
	max-height: 11%;
}

.ladoA {
	transform: scaleX(1);
}

.ladoB {
	transform: scaleX(-1);
}

.painel {
	position: absolute;
	width: 190px;
	padding: 10px;
	left: 0px;
	bottom: 0px;
	border-top:solid 1px #fff;
	background-color: #fff;
	opacity: 0.7
}

.vidas {
	float: left;
}

.cronometro {
	float: left;
	font-size: 20px;
	font-weight: bold;
}
